* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    max-width: 1400px;
    margin: auto;
}

* h1 , h2 , h3 {
    font-family: Shrikhand;
}

a {
    text-decoration: none;
    color: black;
}

#page_menu {
    background-color: #f7f7f7;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.survole_2 {
    text-decoration: none;
    color: white;
}

.survole_2:hover {
    content: "";
}

/*Header*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

header img {
    width: 180px;
    margin-top: 25px;
    padding-bottom: 15px;
    background-color: white;
    margin-right: 30%;
}

#return {
    color: black;
    font-size: 20px;
    margin-left: 20px;
}

/*Under_Header*/
#picture_under_header {
    max-width: 1440px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
}

#title_menu h1 {
    font-size: 25px;
}

body {
    background-color: #f7f7f7;
}

#title_menu {
    background-color: #f7f7f7;
    width: 100%;
    margin: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -25px;
    padding: 15px;
    border-radius: 25px 25px 0 0;
    background-color: #F6F6F6;
}


#title_menu i {
    font-size: 25px;
}

.heart__1 {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 25px;
}

.heart__2 {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 25px;
    opacity: 0;
    background: linear-gradient(rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heart:hover .heart__2 {
    font-size: 25px;
    opacity: 1;
    animation: like 3s;
    transform-origin: center;
}

.heart:hover .heart__1 {
    opacity: 0;
}

/*Menu*/

#menu h2 {
    border-bottom: 3px solid #99E2D0;
    width: fit-content;
    font-weight: 300;
    margin-left: 15px;
    font-size: 20px;
    opacity: 0;
    transform-origin: left;
    animation: spawn_title 2s forwards;
    animation-delay: 1s;
}

.all_cards__1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media screen and (min-width:992px) {
        flex-wrap: wrap; 
        flex-direction: row;
    }
}

.all_cards__2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media screen and (min-width:992px) {
        flex-wrap: wrap; 
        flex-direction: row;
    }
}

.all_cards__3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media screen and (min-width:992px) {
        flex-wrap: wrap; 
        flex-direction: row;
    }
}

.all_cards__1 {
    opacity: 0;
    animation: spawn 2s forwards;
    animation-delay: 1.5s;
    transform-origin: bottom;
}

.all_cards__2 {
    opacity: 0;
    animation: spawn 2s forwards;
    animation-delay: 3s;
    transform-origin: bottom;
}

.all_cards__3 {
    opacity: 0;
    animation: spawn 2s forwards;
    animation-delay: 4.5s;
    transform-origin: bottom;
}

.card_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 98%;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: grey 3px 3px 4px;
    margin-bottom: 20px;
    height: 80px;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    &:hover {
        & .card_in__slide {
            animation: slide 1s forwards;
            transform-origin: right;
        }
    }
      &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0px;
        height: 100%;
        font-size: 22px;
        border-radius: 0px 20px 20px 0px;
        background-color: #99E2D0;
        color: white;
        opacity: 0;
      }
      .card_in__bouton {
        width: 0px;
      }
      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 15px;
        width: 100%;
      }
      & h3 {
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & p {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
      }
      &__prix {
        display: flex;
        align-self: flex-end;
        justify-self: flex-end;
        margin-right: 15px;
      }
}

/*Bouton_commande*/
#bouton {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#bouton_commande {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
}

#bouton_commande:hover {
    background: linear-gradient(176deg, #fface8, #ae80e5);
    box-shadow: 2px 2px 4px black;
}

/*Footer*/
#liste_footer {
    list-style-type: none;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

#liste_footer li {
    padding-bottom: 13px;
}

footer {
    background-color: #353535;
    color: white;
}

footer img {
    margin-left: 35px;
    margin-top: 25px;
    width: 108px;
    height: 18px;
    filter: invert(94%) sepia(94%) saturate(25%) hue-rotate(60deg) brightness(106%) contrast(109%);
}

footer i {
    padding-right: 12px;
}

#logo_footer {
    color: white;
}

@media screen and (min-width :650px) {

    header img {
        margin-right: 35%;
    }
}

@media screen and (min-width :768px) {

    header img {
        margin-right: 40%;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    from {
        transform: scaleX(0);
        width: 0px;
        opacity: 0;
    }

    to {
        transform: scaleX(1);
        width: 10%;
        opacity: 1;
    }
}

@keyframes spawn {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes spawn_title {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes like {
    from {
        transform: scale(0);
    }
 
    to {
        transform: scale(1);
    }
}