@media screen and (min-width :992px) {
    #header_text {
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 30px;
    }
    
    #header_text h1 {
        padding-top: 0px;
        margin-top: 30px;
    }
    
    #header_text h2 {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .whole_card {
        width: 46%;
    }
    
    .lettre {
        font-size: 80px;
    }
}