* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.survole {
    text-decoration: none;
    color: black;
}
.survole:hover {
    content: "";
}

.survole_2 {
    text-decoration: none;
    color: white;
}
.survole_2:hover {
    content: "";
}
/*Header*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 210px;
    margin-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}

/*Gps_emplacement*/
#gps_mark {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    padding-bottom: 22px;
    padding-top: 22px;
    background-color: #eaeaea;
    box-shadow: 0px -3px 3px lightgrey;
}

#gps_mark span {
    padding-left: 25px;
}
/*texte_header*/
#header_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 60px;
}

#header_text h1 {
    padding-top: 30px;
    margin-bottom: 0px;
    font-weight: 800;
}

#header_text h2 {
    font-weight: 300;
    padding-bottom: 5px;
}
/*Bouton_recherche*/
#bouton_recherche {
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border: none;
    border-radius: 40px;
    width: 220px;
    height: 50px;
    margin-bottom: 0px;
    margin-top: 30px;
}
/*Cards_fonctionnement*/
#fonctionnement {
    margin-top: 50px;
    width: 100%;
}

#fonctionnement h2 {
    margin-left: 30px;
}

#all_card_fonction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_fonction {
    position: relative;
    background-color: #f7f7f7;
    width: 90%;
    border-radius: 25px;
    box-shadow: 4px 4px 5px lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-bottom: 30px;
}

.card_body_fonction {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo_number_fonction {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: -10px;
    background-color: #9356DC;
    border-radius: 20px;
    height: 25px;
    width: 25px;
    color: white;
    font-size: 12px;
}

.card_logo_fonction {
    padding-left: 40px;
    font-size: 22px;
}

.card_text_fonction {
    padding-left: 30px;
    font-size: 20px;
}

/*Card_Restaurants*/
#restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titre_section {
    padding-left: 25px;
}

#all_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.whole_card {
    background-color: white;
    width: 90%;
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 5px lightgrey;
}

.card_body_1 {
    position: relative;
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
}

.card_titre_1 h2 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}

.card_text_1 p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 300;
}

.card_picture_restaurant img {
    display: flex;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 180px;
    object-fit: cover;
}

.coeur {
    position: absolute;
    font-size: 20px;
    right: 30px;
    top: 30px;
}

/*Footer*/
#liste_footer {
    list-style-type: none;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

#liste_footer li {
    padding-bottom: 13px;
}

footer {
    background-color: #353535;
    color: white;
}

footer img {
    margin-left: 35px;
    margin-top: 25px;
    width: 108px;
    height: 18px;
    filter: invert(94%) sepia(94%) saturate(25%) hue-rotate(60deg) brightness(106%) contrast(109%);
}

footer i {
    padding-right: 12px;
}

#logo_footer {
    color: white;
}