* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

* h1, h2, h3 {
  font-family: Shrikhand;
}

a {
  text-decoration: none;
  color: black;
}

#page_menu {
  background-color: #f7f7f7;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.survole_2 {
  text-decoration: none;
  color: white;
}

.survole_2:hover {
  content: "";
}

/*Header*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 180px;
  margin-top: 25px;
  padding-bottom: 15px;
  background-color: white;
  margin-right: 30%;
}

#return {
  color: black;
  font-size: 20px;
  margin-left: 20px;
}

/*Under_Header*/
#under_header {
  position: relative;
}

#picture_under_header {
  display: flex;
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

#title_menu h1 {
  font-style: italic;
}

#title_menu {
  background-color: #f7f7f7;
  width: 100%;
  bottom: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 60px 60px 0px 0px;
}

#title_menu i {
  font-size: 25px;
}

/*Menu*/
#menu h2 {
  border-bottom: 3px solid #99E2D0;
  width: fit-content;
  font-weight: 300;
  margin-left: 15px;
  font-size: 20px;
  opacity: 0;
  transform-origin: left;
  animation: spawn_title 2s forwards;
  animation-delay: 1s;
}

.all_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 650px) {
  .all_cards {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.card_in {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 125%;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  height: 65px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-left: 15px;
  font-size: 15px;
  box-shadow: 3px 3px 5px lightgrey;
  animation: spawn 1s forwards;
  transform-origin: bottom;
  opacity: 0;
}
@media screen and (min-width: 650px) {
  .card_in {
    width: 30%;
    height: 180px;
    justify-content: center;
    align-items: flex-start;
  }
}
.card_in__bouton_check {
  transform: scaleX(0);
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  background-color: #99E2D0;
  color: white;
  border-radius: 0px 15px 15px 0px;
  width: 15%;
  height: 100%;
  font-size: 25px;
}
@media screen and (min-width: 650px) {
  .card_in__bouton_check {
    width: 150px;
  }
}
.card_in__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 90%;
}
.card_in h3 {
  margin-bottom: 8px;
}
.card_in p {
  margin-top: 0px;
  font-weight: 300;
}
.card_in__prix {
  display: flex;
  align-self: flex-end;
  font-weight: bolder;
  font-size: 15px;
  font-weight: bolder;
  margin-right: 10px;
}
.card_in:active .card_in__bouton_check {
  transform: scaleX(1);
  animation: card_in__width 1s forwards;
}
@media screen and (min-width: 650px) {
  .card_in:active .card_in__bouton_check {
    animation: card_in_width_tablette 1s;
  }
}
.card_in:active .card_in__bouton_check .fa-solid.fa-circle-check {
  animation: rotation 2s;
}

.card_in:nth-child(1) {
  animation-delay: 2s;
}

.card_in:nth-child(2) {
  animation-delay: 3s;
}

.card_in:nth-child(3) {
  animation-delay: 4s;
}

/*Bouton_commande*/
#bouton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#bouton_commande {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 40px;
  width: 220px;
  height: 50px;
  margin-bottom: 0px;
}

#bouton_commande:hover {
  background: linear-gradient(176deg, #fface8, #ae80e5);
  box-shadow: 2px 2px 4px black;
}

/*Footer*/
#liste_footer {
  list-style-type: none;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

#liste_footer li {
  padding-bottom: 13px;
}

footer {
  background-color: #353535;
  color: white;
}

footer img {
  margin-left: 35px;
  margin-top: 25px;
  width: 108px;
  height: 18px;
  filter: invert(94%) sepia(94%) saturate(25%) hue-rotate(60deg) brightness(106%) contrast(109%);
}

footer i {
  padding-right: 12px;
}

#logo_footer {
  color: white;
}

@media screen and (min-width: 650px) {
  header img {
    margin-right: 35%;
  }
}
@media screen and (min-width: 768px) {
  header img {
    margin-right: 40%;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes card_in__width {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes card_in_width_tablette {
  from {
    width: 0%;
  }
  to {
    width: 150px;
  }
}
@keyframes spawn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes spawn_title {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

/*# sourceMappingURL=menu.css.map */
